<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome, <%= user.username %></h1>
    <p>Email: <%= user.email %></p>
    <p> <%= user.profilepicture %></p>
    <a href="/" class="home-btn">Home</a>
    <a href="/auth/logout" class="logout-btn">Logout</a>
    <h2>Your Anime List:</h2>
    <ul>
      <div class="anime-grid">
        <% if(animeList && animeList.length > 0) { %>
          <% animeList.forEach(function(anime) { %>
            <div class="anime-item">
              <h3><%= anime.title %></h3>
              <p><%= anime.description %></p>
              <p>Genre: <%= anime.genre.join(', ') %></p> 
              <p>Rating: <%= anime.rating %></p>
              <button class="removeAnimeButton" data-animeid="<%= anime._id %>">Remove</button>
            </div>
          <% }); %>
        <% } else { %>
          <p>You have no anime in your list yet.</p>
        <% } %>
      </div>
    </ul>
    <div id="message" style="display: none; position: fixed; bottom: 10px; right: 10px; background-color: #f44336; color: white; padding: 15px; border-radius: 5px;"></div>

    <script src="/js/frontend.js"></script>
  </body>
</html>
