<!DOCTYPE html>

<html>

<body>
  <div class="links">
    <a href="/">Home</a>
    <a href="/users/search">Show All Anime</a>
    <a href="/users/profile">User Profile</a>
</div>
    <form action="/anime" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" required>

        <label for="genre">Genre:</label>
        <input type="text" name="genre" required>

        <label for="description">Description:</label>
        <textarea name="description" required></textarea>

        <label for="rating">Rating:</label>
        <input type="number" name="rating" min="1" max="10" required>

        <button type="submit">Create Anime</button>
    </form>

    <% if (typeof message !== 'undefined' && message) { %>
    <div class="alert"><%= message %></div>
    <% } %>

    <% animeList.forEach(anime => { %>
    <div>
        <h3><%= anime.title %></h3>
        <p><%= anime.description %></p>
        <p><%= anime.genre %></p>
        <p><%= anime.rating %></p>

        <% anime.comments.forEach(comment => { %>
        <div class="comment">
            <% if (comment.userProfilePicture) { %>
                <img src="<%= comment.userProfilePicture %>" alt="<%= comment.userName %>'s profile picture" class="comment-profile-pic">
            <% } %>
            <strong><%= comment.userName %></strong>
            <p><%= comment.text %></p>

            <!-- DELETE COMMENT BUTTON -->
            <% if (user && user._id && comment._user && user._id.toString() === comment._user.toString()) { %>
              <form action="/anime/<%= anime._id %>/comment/<%= comment._id %>/delete" method="post">
                  <button type="submit">Delete Comment</button>
              </form>
          <% } %>

        </div>
        <% }); %>

        <!-- Form to add a new comment -->
        <form action="/anime/<%= anime._id %>/comment" method="post">
            <textarea name="commentText" required></textarea>
            <button type="submit">Add Comment</button>
        </form>

        <div class="anime-actions">
            <form action="/anime/add-to-my-list/<%= anime._id %>" method="post">
                <button type="submit">Add to my list</button>
            </form>
            <form action="/anime/delete/<%= anime._id %>" method="post" onsubmit="return confirmDeletion();">
                <button type="submit">Remove from Database</button>
            </form>
        </div>
    </div>
    <% }); %>

    <script src="/js/frontend.js"></script>
</body>

</html>
